body {
    background-color: #ced4da;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playarea {
    border: 2px solid black;
    height: 800px;
    width: 800px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;

    overflow: hidden;
}

.pixel {
    width: 2%;
    height: 2%;
}

.pixel.snake {
    background-color: red;
}

.pixel.food {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 200%;
}