body {
    background-color: #ced4da;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 800px;
    height: 75px;
    margin: 20px auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

header>* {
    width: calc(100% /3);
    text-align: center;
}

#select-player {
    background-color: transparent;
    border: none;
    height: 100%;
    outline: none;
}

#playarea {
    border: 2px solid black;
    height: 800px;
    width: 800px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;

    overflow: hidden;
}

.pixel {
    width: 2%;
    height: 2%;
    overflow: visible;
    position: relative;
}

.pixel.snake {
    background-color: red;
}

.pixel.food {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 40px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}